.icon {
    display: inline-block;
    vertical-align: middle;
    &.btn-demo { 
        width: 24px;
        height: 24px;
        background: url('../../public/static/images/vercel.svg') no-repeat center/contain;
    }

}


