body { 
  @include lg(){
    padding-top: 60px;
    
    margin-bottom: 57px;
  }
}


.thumb {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  overflow: hidden;

  > span {
    position: absolute!important;
    left: 0!important;
    top: 0!important;
    width: 100%!important;
    height: 100%!important;
    &.avatar-default {
      background: linear-gradient(90deg, #FC4A1A 0%, #F7B733 100%);
      color: $white;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      display: flex;
    }
    img {
      object-fit: cover;
     
    }
  }
  &.thumb-16x9 {
    padding-bottom: 56.25%;
  }
  &.thumb-4x3 {
    padding-bottom: 75%;
  }
  &.thumb-3x2 {
    padding-bottom: 66.66%;
  }
  &.thumb-1x1 {
    padding-bottom: 100%;
  }
  &.thumb-5x2 {
    padding-bottom: 40%;
  }
  &.thumb-3x1 {
    padding-bottom: 33.3333%;
  }
  
}



/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 1px;
  border-radius: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc; 
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaa; 
  border-radius: 3px;
}


