@import "normalize";

$main : #F7AA30;
$darkmain : #FC4A1A;
$lightmain : #FFEB99;
$black: #000000;
$black-light: #777;
$blackgray: #939393;
$darkgray: #A1A1A1;
$gray: #EDEDED;
$green: #01B14F;
$red: #ED1C24;
$blue: #0080FF;
$white: #fff;

$gra_main : linear-gradient(90deg, #FC4A1A 0%, #F7B733 100%);


.dark {
 
  $black: #ffffff;
  $blackgray: #939393;
  $darkgray: #A1A1A1;
  $gray: #EDEDED;
  $green: #01B14F;
  $red: #ED1C24;
  $blue: #0080FF;
  $white: #000000;
}

@mixin xxl(){
  @media screen and (max-width: 1400px) {
    @content
  }
}

@mixin xl(){
  @media screen and (max-width: 1200px) {
    @content
  }
}

@mixin lg(){
  @media screen and (max-width: 991px) {
    @content
  }
}

@mixin max-lg(){
  @media screen and (max-width: 1080px) {
    @content
  }
}

@mixin min-xl(){
  @media screen and (min-width: 1200px) {
    @content
  }
}

@mixin min-lg(){
  @media screen and (min-width: 991px) {
    @content
  }
}

@mixin md(){
  @media screen and (max-width: 768px) {
    @content
  }
}
@mixin sm(){
  @media screen and (max-width: 540px) {
    @content
  }
}

.text{
  &-white{
    color: $white;
  }
  &-black{
    color: $black;
  }
}


